{% extends 'base.html' %}

{% block content %} 

    <div style="height: 35rem; border-radius: 1rem; text-align: center; margin: 5rem;">
        <h1 style="font-family: 'Noto Sans KR', sans-serif;">
            누구나 쉽게 만드는<br>인공지능 기반 브랜딩 대장간
        </h1>

        <form action="/account/main_slogan/" method="post">
            {% csrf_token %}
            <div style="margin: 2rem;">
                <input type="text" name="main_slogan_input">
            </div>
            <div>
                 <input type="submit" class="btn btn-primary" value="Slogan 만들기">
            </div>
           
        </form>

        {% if main_slogan_output %}
        <h1>
            {{ main_slogan_output.content }}
        </h1>
        {% endif %}

    </div>

{% endblock %}